:root {
    --dark-blue: #042b54ff;
    --light-blue: #6fb2f7ff;
    --gray: #e9e9e9ff;
    --yellow: #ffe04fff;

}

@font-face {
    font-family: "lichess";
    src: url("../fonts/lichess.woff2") format("woff2"), url("../fonts/lichess.woff") format("woff")
}

html{font-size:14px;}


ol,
article {
    margin: 0;
    outline: none;
    border: none;
}

.nodecoration a:link,
.nodecoration a:visited {
    text-decoration: none;
    color: unset
}

header h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    margin-bottom: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header img {
    height: 28px;
    vertical-align: top;
    margin-right: 0.5rem
}

.generalOverview {
    border: 1px solid var(--dark-blue);
    padding: 10px;
    margin-left: auto;
}

.generalOverview h2 {
    font-size: 80%;
    text-transform: uppercase;
}

.generalOverview span {
    text-transform: none;
}

.generalOverview span,
.generalOverview a {
    margin-left: 4px;
}

.generalOverview button {
    outline: none;
    border: none;
    margin-top: 0.2rem;
    text-decoration: underline;
}

.provisional {
    font-weight: 500;
    padding: 0 5px;
    color: var(--light-blue);
}

.bg-dark {
    background-color: var(--dark-blue) !important;
}

.variant-container {
    outline: none;
    padding: 10px 15px !important;
}

.variant-container h3 {
    border: 1px solid white;
    text-transform: uppercase;
    padding-left: 15px !important;
    display: flex;
    align-items: center;
}


.variant-container li {
    position: relative;
    padding: .3rem .75rem;
    transition: all ease .13s;
    list-style-position: inside;

}


.variant-container a {
    color: unset;
}

.variant-container a:hover li {
    background: white;
    transform: scale(99%);
}

.rating {
    font-weight: 700;
    color: var(--dark-blue);
    position: absolute;
    right: 4px;
    padding-left: 10px;
    background: white;
}

.leaderboard-container {
    min-height: 70vh;
}

.team-name a {
    text-decoration: underline;
    text-decoration-color: #212529;
    color: #212529;
    transition: all ease .3s;
}

.viewFullRanking {
    list-style: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.viewFullRanking button {
    background: var(--gray) !important;
    color: var(--dark-blue) !important;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: .25rem;
    font-size: 60%;
    text-transform: uppercase;
    opacity: .9;
    transition: none;
    border: none;
    width: 100%;
}

.viewFullRanking button:hover {
    opacity: 1;
    transition: none;
}

.variant-container a:hover .viewFullRanking {
    transform: none;
}


.hide {
    display: none;
}

.team-name a:hover {
    text-decoration: none;
}


.team-name a:hover small {
    color: var(--dark-blue) !important;
}

.filters {
    z-index: 99;
   /* background: var(--gray) !important;*/
   background:white;
    border-top:rgba(15, 15, 15, 0.1) 1px solid;
   margin-bottom: 10px;
    transform: translateY(0);
    transition: all .3s ease;
}

.filters.hidden{
    transform: translateY(500px);
    visibility: hidden;
    transition:all .5s ease-in;
}

.filters .input-group{
    flex-basis: 76%;
}

.filters div {
    color: #435;
}


.filters input {
    color: var(--dark-blue);
}

.filter b {
    margin-bottom: 0.5rem;
    display: block;
    border-bottom: 1px solid var(--dark-blue);
}

.icon {
    width: 14px;
    margin: 4px;
}

h3.sticky-top {
    top: 18vh;
    z-index: 1
}

#newTeam {
    font-weight: bold;
}

#minGames {
    width: 75px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    min-height: 20vh;
    font-weight: bold;
    font-size: calc(5rem + 10vw);
}


.loading-animation span {
    display: inline-block;
    width: 20vh;
    height: 20vh;
    margin-left: 2rem;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    animation: donut-spin linear 1.2s infinite;
    border: 2px solid transparent;
    border-right-color: rgba(15, 15, 255, 0.55);
}

header .loading-animation span {
    width: 20px;
    height: 20px;
}

header .loading {
    display: inline;
}

.loading-animation~* {
    display: none;
}


@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (min-width: 768px) {
    .single-lb {

        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

.provisionalInput input {
    vertical-align: middle;
}

.provisionalInput *:hover {
    cursor: pointer;
}

#specialLeaderboards h3 {
    background: var(--light-blue) !important;
    color: white !important;
    font-weight: 400;
}

.statDescription {
    font-size: 80%;
    font-weight: 100;
    font-style: italic;
}

.stats {
    padding: .3rem .75rem;
    font-size: 80%;
    font-weight: 300;
    margin-bottom: .5rem;
}

.generalStat {
    color: var(--dark-blue);
    margin-bottom: 0;
}

.generalStat span {
    font-weight: 700;
    padding: 2px 4x;
}

#customize {
    color: unset;
    outline: none;
    font-size: .8rem;
    margin-bottom: 1rem;
    height: fit-content;
    border: 1px solid #ced4da;
}

#customize:hover {
    color: white;
    opacity: .7;
    transition: all ease .3s;
}

.fixed-bottom {
    margin-bottom: 0;
}

.closed {
    transform: translateY(55px);
    transition: all .3s ease-out;
}

.closed p {
    position: relative;
    top: 10rem !important;
    transition: all .3s ease;
}

.closed #customize {
    margin-bottom: 0;
}

header .loading {
    min-height: unset;
    font-size: 10px;
}

.hidden {
    visibility: hidden;
}

footer {
    margin-bottom: 100px;
}

.modal ol {
    max-height: 66vh;
    overflow: auto;
    padding-left: 0;
}

.modal li {
    padding-left: 0;
}

.modal-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

header {
    display: block;
}

.team-header h2 {
    font-size: 1rem;
    display: inline-block;
    margin-right: .6rem;
}

.overviewStats>div {
    border: 1px solid rgba(51, 51, 51, .25);
    border-radius: 2px;
    padding: 20px;
    text-align: center;
}

.overviewStats h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.overviewStats span,
.overviewStats a {
    font-size: 1rem;
}

.overviewStats button {
    border: none;
    text-transform: lowercase;
    font-size: .8rem;
    margin: 0 .1rem;
    font-weight: 500;
}

.li-icon {
    font-family: 'lichess';
    font-style: normal;
    font-weight: 300;
}

.i-chess960::after {
    content: '\E01B'
}

.i-atomic::after {
    content: '\E031'
}

.i-blitz::after {
    content: '\E01D'
}

.i-crazyhouse::after {
    content: '\E00B'
}

.i-bullet::after {
    content: '\E047'
}

.i-correspondence::after {
    content: '\E02E'
}

.i-horde::after {
    content: '\E052'
}

.i-puzzle::after {
    content: '\E021'
}

.i-classical::after {
    content: '\E01F'
}

.i-rapid::after {
    content: '\E017'
}

.i-ultraBullet::after {
    content: '\E06E'
}

.i-antichess::after {
    content: '\E033'
}

.i-kingOfTheHill::after {
    content: '\E01C'
}

.i-racingKings::after {
    content: '\E00A'
}

.i-threeCheck::after {
    content: '\E022'
}

.i-info::after {
    content: '\E005'
}

.i-champion::after,
.i-Super::after,
.i-Standards::after,
.i-Variants::after {
    content: '\E05A'
}

.i-team::after {
    content: '\E059'
}

.i-crown::after {
    content: '\E036'
}

header .i-info {
    background: none;
    font-size: 1.7em;
    color: rgba(51, 51, 51, .75);
}

.player-title {
    color: #bf811d;
    font-weight: 700;
}

.flair img{
    width:1.4rem;
    margin-left:0.5ch;
    vertical-align: top;
}

@media screen and (max-width: 460px){
    #customize span{
        display: none
    }
}



.progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 8px;
}

.progress-bar {
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    background-color: #007bff;
    border-radius: 4px;
    transition: width 0.3s ease;
}